*{
    margin: 0;
    padding: 0;
}

html{

    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.section-container{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 2fr 4fr 1fr;
    grid-template-rows: 10% 10% 10% 1fr 1fr 5%;

}

.bg-image{
    background-image: url(../assets/bf-gatchus.gif);
    height: 80vh; 
    background-attachment: fixed;
    background-size: cover;

}

.landing-text{
    grid-column-start: 6;
    grid-row-start: 2;
    font-family: 'Otomanopee One', sans-serif;
    
}
.cadastre-se{
    display: grid;
    grid-column-start: 6;
    grid-row-start: 3;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(201, 201, 201, 0.671);
    border-radius: 8px;
    
    
}

.formulario{
    display: grid;
    grid-column-start: 6;
    grid-row-start: 4;
    background-color: rgba(253, 10, 172, 0.548);
    border-radius: 8px;
    border: 50px;
    padding: 10px;
   font-family: 'Roboto Slab', serif;
    
}

.logotipo{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
}

  
.form{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 10% 10% 70%;
    grid-column-start: 2;
    grid-row-start: 4;
    
    
  }

.direitos {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 6;
   
}

.box{
    background: rgba(197, 15, 136, 0.658);
    color: rgba(255, 255, 255, 0.801);
    border-radius: 12px;
    width: 90%;
    height: 20px;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto Slab', serif;

}

#cadastro{
    height: 30px;
    width: 90%;
}
